---
import { getCollection, CollectionEntry } from "astro:content";
import { formatBlogPosts } from "js/utils";
import Features from "@components/features.astro";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Pagination from "@components/Pagination.astro";
import Pagination2 from "@components/Pagination_2.astro";
import CategoryCloud from "@components/CategoryCloud.astro";
import { log } from "astro/dist/core/logger/core";
export async function getStaticPaths({ paginate }) {
  const allPost = await getCollection("blog");
  const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPost);
  const allCategory = [
    ...new Set(formattedPosts.map((post) => post.data.author).flat()),
  ];
  return allCategory.map((author) => {
    const filterPost = allPost.filter((post) => post.data.author === author);
    return paginate(filterPost, {
      params: { author },
      pageSize: 3,
    });
  });
}
const { page } = Astro.props;
---

<Layout title="blog">
  <Container>
    <div class="gap-4 grid sm:grid-cols-1 sm:gap-1 md:grid-cols-3 xl:grid-cols-3">
      {
        page.data.map((item) => (
          <Features
            category={item.data.category}
            href={`/blog/${item.slug}/`}
            content={item.data.description}
            title={item.data.title}
            img={item.data.image.src}
          />
        ))
      }
    </div>
    <div class="gird items-center text-center mt-5">
      <Pagination2 prev={page.url.prev} next={page.url.next} />
    </div>
    <CategoryCloud></CategoryCloud>
  </Container>
</Layout>
